<div class="subscription-details">
  <h3>Subscription Data</h3>
  <p>View and upgrade your subscription</p>
  <table>
    <tr>
      <td>Subscription Type</td>
      <td>Premium</td>
    </tr>
    <tr>
      <td>Renewal Date</td>
      <td>06/09/2024</td>
    </tr>
    <tr>
      <td>Account</td>
      <td>Personname&#64;company.com</td>
    </tr>
    <tr>
      <td>Card Info</td>
      <td>Ends with 56</td>
    </tr>
  </table>
  <div class="buttons">
    <button class="renew">Renewal Subscription</button>
    <button (click)="click()"routerLinkActive="active" routerLink="/upgrade" class="upgrade"><img src="assets/images/Search results for Crown - Flaticon-12 1.png">Upgrade Subscription</button>
  </div>
</div>
