.subscription-details {
  flex: 1;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.subscription-details h3 {
  color: #333;
  margin-bottom: 10px;
}

.subscription-details p {
  color: #666;
  margin-bottom: 20px;
}

.subscription-details table {
  width: 100%;
  margin-bottom: 20px;
}

.subscription-details table td {
  padding: 8px 0;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
}
.subscription-details table tr{
  line-height: 1.5;

}
.subscription-details .buttons {
  display: flex;
  gap: 10px;
  justify-content: end;
}

.renew, .upgrade {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.renew {
  background-color: #4CAF50;
  color: #fff;
}

.upgrade {
  background-color: #0056b3;
  color: #fff;
  display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}
.upgrade img{
  width: 20px;
  height: 20px;
  margin: 0.5rem;
}
