.subscription-details {
  flex: 1;
  background: #F8FAFC;
  padding: 20px;
  border-radius: 8px;
}

.subscription-details h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24.38px;
  color: #0F172A;
}

.subscription-details p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: #475569;

}

.subscription-details table {
  width: 100%;
  margin-bottom: 20px;
}
.key{
font-size: 14px;
font-weight: 700;
line-height: 17.07px;
color:#0F172A;
}
.value{
font-size: 16px;
font-weight: 500;
line-height: 19.5px;
color: #475569;

}
.subscription-details table td {

  border-bottom: 1px solid #e5e5e5;
}
.subscription-details table tr{
  width: 201px;
  height:60px;
  padding: 12.5px 12px 12.5px 12px;
  gap: 16px;
  opacity: 0px;


}
.subscription-details .buttons {
  display: flex;
  /* width: 631px; */
  height: 72px;
  padding: 24px 0px 0px 0px;
  gap: 16px;
  justify-content: flex-end;

}

.renew, .upgrade {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.renew {
  background-color: #49BB94;
  color: #fff;
}

.upgrade {
  background-color: #0D72B9;
  color: #fff;
  display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}
.upgrade img{
  width: 20px;
  height: 20px;
  margin: 0.5rem;
}
.custom-table {
  width: 100%;
  margin-top: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.custom-table th, .custom-table td {
  padding: 12px;
  border: 1px solid #E2E8F0;
  text-align: left;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.custom-table .title th{
  border:0;
}
.custom-table .title{
  background-color: #F1F5F9;

}
.custom-table .title th{
font-size: 16px;
font-weight: 600;
line-height: 19.5px;
color: #0F172A;
}
.custom-table .head th{
font-size: 16px;
font-weight: 500;
line-height: 19.5px;
color: #0F172A;
}
.custom-table .body{
font-size: 16px;
font-weight: 400;
line-height: 19.5px;
color: #475569;

}
.custom-table .body .down{
  color: #0CB450;
  cursor: pointer;

}
