
<div class="profile">
  <div class="profile-user">
  <img src="assets/images/Group69402.png" alt="User Avatar" class="profile-avatar">
  <h3>Welcome</h3>
  <h2>Mohamed Salah</h2>
</div>
<div class="items-logout">
  <div>
  <ul>
    <li>
      <div class="profile-item">
        <img src="assets/images/user-square.svg" alt="Profile Icon" class="profile-icon">
        <span class="profile-text">Profile information</span>
      </div>
    </li>
    <li>
      <div class="profile-item">
        <img src="assets/images/notification.svg" alt="Notification Icon" class="profile-icon">
        <span class="profile-text">Notification settings</span>
      </div>
    </li>
    <li>
      <div class="profile-item active">
        <img src="assets/images/Group.svg" alt="Subscription Icon" class="profile-icon">
        <span class="profile-text">Subscription plan</span>
      </div>
    </li>
  </ul>
</div>


  <div class="logout">
    <img src="assets/images/logout.svg" alt="Logout Icon" class="logout-icon">
    <span class="logout-text">Log out</span>
  </div>
</div>
</div>
