<div class="profile">
  <img src="assets/images/Group69402.png" alt="">
  <h3>Welcome</h3>
  <h2>Mohamed Salah</h2>
  <ul>
    <li><div class="profile-item ">
      <img src="assets/images/user-square.png" alt="language Icon" class="profile-icon">
      <span class="profile-text">Profile Information</span>
    </div></li>
    <li>
      <div class="profile-item">
        <img src="assets/images/notification.png" alt="Help Icon" class="profile-icon">
        <span class="profile-text">Notification Settings</span>
      </div>
    </li>
    <li>  <div class="profile-item">
      <img src="assets/images/Group(1).png" alt="Help Icon" class="profile-icon">
      <span class="profile-text">Subscription Plan</span>
    </div></li>
  </ul>
</div>
