.profile {
  /* width: 30%; */
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.profile h2 {
  color: #333;
  margin-bottom: 20px;
}
.profile h3{
  font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
color: #475569;
}
.profile ul {
  list-style-type: none;
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  line-height: 2;
}

.profile ul li a {
  display: block;
  padding: 10px;
  color: #003366;
  text-decoration: none;
  margin-bottom: 10px;
}

.profile ul li a.active {
  background-color: #d9f2e6;
  border-radius: 5px;
}
.profile-item {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px 50px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s;
}
.profile-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.profile-text{
  font-size: 18px;
  color: #475569;
}
