<div class="">
  <div class="row upgrade-screen">
    <div class="col-12 text-center title">
      <h1>
        Upgrade your plan for more features
      </h1>
    </div>
    <div class="col-12 text-center div-plan">
      <span>Your plan</span><span class="plan">: Standard</span>
    </div>
    <div class="col-12 plan-duarations">
     <div class="row  body">
      <div class="row col-4">
        <p>3 Months</p>
      </div>
      <div class="row col-4">
        <p>6 Months</p>
      </div>
      <div class="row col-4">
        <p>Yearly<span>15%Off</span></p>
      </div>
     </div>
    </div>
    <div class="col-12 d-flex plan-types ">
      <div class="col-4 d-flex con justify-content-center">
        <div>
        <div class="title-image d-flex ">
          <div class="img-con">
            <img src="assets/images/Vector.svg" alt="vector">
          </div>
          <div class="plan-title">
            <h1>
              Standard
            </h1>
            <p>For small institutions</p>
          </div>
        </div>
        <div class="price ">
          <p>$<span>40</span></p>
          <p>Per month, billed annually</p>
        </div>
        <div class="hr-con">
          <hr>
        </div>
        <div class="Features d-flex">
          <div class="img-con">
            <img src="assets/images/tick-circle.svg" alt="tick-circle">
          </div>
          <div>
            <p>150 Candidates profiles</p>
          </div>
        </div>
        <div class="Features d-flex">
          <div class="img-con">
            <img src="assets/images/tick-circle.svg" alt="tick-circle">
          </div>
          <div>
            <p>Features to user</p>
          </div>
        </div>
        <div class="Features d-flex">
          <div class="img-con">
            <img src="assets/images/tick-circle.svg" alt="tick-circle">
          </div>
          <div>
            <p>Features to employer</p>
          </div>
        </div>
        <div class="Features d-flex">
          <div class="img-con">
            <img src="assets/images/tick-circle.svg" alt="tick-circle">
          </div>
          <div>
            <p>150 Candidates profiles</p>
          </div>
        </div>
        <div class="Features d-flex">
          <div class="img-con">
            <img src="assets/images/tick-circle.svg" alt="tick-circle">
          </div>
          <div>
            <p>Features to user</p>
          </div>
        </div>
        <div class="Features d-flex">
          <div class="img-con">
            <img src="assets/images/tick-circle.svg" alt="tick-circle">
          </div>
          <div>
            <p>Features to employer</p>
          </div>
        </div>
        <div class="Features d-flex">
          <div class="img-con">
          </div>
          <div>
          </div>
        </div>
        <div class="buttons">
          <button>Current plan</button>
        </div>
      </div>
    </div>
    <div class="col-4 d-flex con justify-content-center" style="
    margin: 0px 30px;">
      <div>
      <div class="title-image d-flex ">
        <div class="img-con">
          <img src="assets/images/Vector (1).svg" alt="vector">
        </div>
        <div>
          <h1>
            Business
          </h1>
          <p>For Medium institutions</p>
        </div>
      </div>
      <div class="price ">
        <p>$<span>70</span></p>
        <p>Per month, billed annually</p>
      </div>
      <div class="hr-con">
        <hr>
      </div>
      <div class="Features d-flex">
        <div class="img-con">
          <img src="assets/images/tick-circle.svg" alt="tick-circle">
        </div>
        <div>
          <p>150 Candidates profiles</p>
        </div>
      </div>
      <div class="Features d-flex">
        <div class="img-con">
          <img src="assets/images/tick-circle.svg" alt="tick-circle">
        </div>
        <div>
          <p>Features to user</p>
        </div>
      </div>
      <div class="Features d-flex">
        <div class="img-con">
          <img src="assets/images/tick-circle.svg" alt="tick-circle">
        </div>
        <div>
          <p>Features to employer</p>
        </div>
      </div>
      <div class="Features d-flex">
        <div class="img-con">
          <img src="assets/images/tick-circle.svg" alt="tick-circle">
        </div>
        <div>
          <p>150 Candidates profiles</p>
        </div>
      </div>
      <div class="Features d-flex">
        <div class="img-con">
          <img src="assets/images/tick-circle.svg" alt="tick-circle">
        </div>
        <div>
          <p>Features to user</p>
        </div>
      </div>
      <div class="Features d-flex">
        <div class="img-con">
          <img src="assets/images/tick-circle.svg" alt="tick-circle">
        </div>
        <div>
          <p>Features to employer</p>
        </div>
      </div>
      <div class="Features d-flex">
        <div class="img-con">
          <img src="assets/images/tick-circle.svg" alt="tick-circle">
        </div>
        <div>
          <p>150 Candidates profiles</p>
        </div>
      </div>
      <div class="buttons btn2">
        <button>Upgrade plan</button>
      </div>
    </div>
  </div>
  <div class="col-4 d-flex con justify-content-center">
    <div>
    <div class="title-image d-flex ">
      <div class="img-con">
        <img src="assets/images/Vector.svg" alt="vector">
      </div>
      <div>
        <h1>
          Premium<span>Most popular</span>
        </h1>
        <p>For big institutions</p>
      </div>
    </div>
    <div class="price ">
      <p>$<span>85</span></p>
      <p>Per month, billed annually</p>
    </div>
    <div class="hr-con">
      <hr>
    </div>
    <div class="Features d-flex">
      <div class="img-con">
        <img src="assets/images/tick-circle.svg" alt="tick-circle">
      </div>
      <div>
        <p>150 Candidates profiles</p>
      </div>
    </div>
    <div class="Features d-flex">
      <div class="img-con">
        <img src="assets/images/tick-circle.svg" alt="tick-circle">
      </div>
      <div>
        <p>Features to user</p>
      </div>
    </div>
    <div class="Features d-flex">
      <div class="img-con">
        <img src="assets/images/tick-circle.svg" alt="tick-circle">
      </div>
      <div>
        <p>Features to employer</p>
      </div>
    </div>
    <div class="Features d-flex">
      <div class="img-con">
        <img src="assets/images/tick-circle.svg" alt="tick-circle">
      </div>
      <div>
        <p>150 Candidates profiles</p>
      </div>
    </div>
    <div class="Features d-flex">
      <div class="img-con">
        <img src="assets/images/tick-circle.svg" alt="tick-circle">
      </div>
      <div>
        <p>Features to user</p>
      </div>
    </div>
    <div class="Features d-flex">
      <div class="img-con">
        <img src="assets/images/tick-circle.svg" alt="tick-circle">
      </div>
      <div>
        <p>Features to employer</p>
      </div>
    </div>
    <div class="Features d-flex">
      <div class="img-con">
        <img src="assets/images/tick-circle.svg" alt="tick-circle">
      </div>
      <div>
        <p>150 Candidates profiles</p>
      </div>
    </div>
    <div class="buttons btn3">
      <button>Upgrade plan</button>
    </div>
  </div>
</div>
    </div>
  </div>
</div>
