<div class="">
  <div class="row upgrade-screen">
    <div class="col-12 text-center title">
      <h1>
        Upgrade your plan for more features
      </h1>
    </div>
    <div class="col-12 text-center div-plan">
      <span>Your plan</span><span class="plan">: Standard</span>
    </div>
    <div class="col-12 plan-duarations">
      <img src="assets/images/Group 78737.png" alt="plan-duarations" >
    </div>
    <div class="col-12 d-flex plan-types">
      <div class="col-4 d-flex justify-content-end">
        <img src="assets/images/Frame 79907.png" alt="stantard">
      </div>
      <div class="col-4 d-flex justify-content-center">
        <img src="assets/images/Frame 79908.png" alt="business">
      </div>
      <div class="col-4 d-flex justify-content-start">
        <img src="assets/images/Frame 79909.png" alt="premium">
      </div>
    </div>
  </div>
</div>
