/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Container */
.container-fluid {
  display: flex;
  min-height: 884px;
}

/* Sidebar */
.sidebar {
  min-width: 256px;
  background: #0D72B9;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
hr{
  width: 128px;
    background: #F8FAFC;
    height: 1px;
    margin-left: 18px;
    margin-bottom: 8px;

}
.sidebar .logo img {
  /* font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px; */
  height: 60px;
  width: 86.52px;
  margin-left: 1rem;
  margin-bottom: 3rem;
}
.arrow{
  display: flex;
  justify-content: flex-start;
  position: relative;
  left: 123px;
  top: 16px;
}
.arrow img{
  width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.sidebar li{
  margin-bottom: 0.5rem;
}
.sidebar nav ul {
  list-style-type: none;
}

.sidebar nav ul li a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
}
.sidebar nav ul li a img{
  padding-right: 5px;
}

.sidebar nav ul li div:hover, .sidebar nav ul li div.active {
  /* background-color: #4CAF50; */
  color: #FFFFFF;
  font-weight: 700 !important;
  border-radius: 5px;
}
.menu-icon:hover, .sidebar nav ul li div.active {
  /* background-color: #4CAF50; */
  color: #FFFFFF;
  font-weight: 700 !important;
  border-radius: 5px;
}
.sidebar .logout {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}
.menu-item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: #B0BEC5; /* Adjust this color as needed */
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s;
}



.menu-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.menu-text {
  flex: 1;
  line-height: 21.94px;
  font-size: 18px;
  font-weight: 500;
}

.menu-arrow {
  font-size: 18px;
  margin-left: auto;
}
/* Main Content */
.main {
  flex: 1;
  background-color: #FFFFFF;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
  height: 90px;

}

header h1 {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.94px;
  /* text-align: left; */
  color: #0F172A;

}

header p {
  font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 19.5px;
/* text-align: left; */
color: #475569;
}

header .user-info {
  display: flex;
  align-items: center;
  color: #003366;
}
.user-info .user-icon{
  margin-right: 0.5rem;
}
header .user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}
.user-info h2{
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  color: #475569;
  }
  .user-info p{
    font-size: 12px;
    font-weight: 500;
    line-height: 14.63px;
    color: #94A3B8;

  }
  .name-role{
    background: #F8FAFC;

  }
  .notification{
background: #F8FAFC;
margin-left: 12px;
  }
  .notification img{
    margin: 0 !important;
    width: 32px !important;
    height: 32px !important;
  }
/* Content Section */
.content {
  display: flex;
  gap: 24px;
}


/* Subscription Details */


/* Responsive Design */
/* @media (max-width: 768px) {
  .content {
      flex-direction: column;
  }

  .profile {
      width: 100%;
  }

  .sidebar {
      width: 200px;
  }
} */



/* second screen */

