<div class="container-fluid">
  <!-- Sidebar -->
  <aside class="sidebar">
    <nav>
      <div class="logo">
        <img src="assets/images/scrubValleyLogo.png" alt="Scrub Valley">
      </div>
      <ul>
        <li>
          <div class="menu-item">

            <img src="assets/images/category-2.png" alt="Home Icon" class="menu-icon">
            <span class="menu-text">Home</span>
            <span class="menu-arrow">❯</span>
          </div>
        </li>
        <li>
          <div class="menu-item">
            <img src="assets/images/briefcase.png" alt="Jobs Icon" class="menu-icon">
            <span class="menu-text">Jobs</span>
            <span class="menu-arrow">❯</span>
          </div>
        </li>
        <li>
          <div class="menu-item">
            <img src="assets/images/search-normal.png" alt="Candidates Icon" class="menu-icon">
            <span class="menu-text">Candidates</span>
            <span class="menu-arrow">❯</span>
          </div>
        </li>
        <li>
          <div class="menu-item">
            <img src="assets/images/video.png" alt="Interviews Icon" class="menu-icon">
            <span class="menu-text">Interviews</span>
            <span class="menu-arrow">❯</span>
          </div>
        </li>
        <li>
          <div class="menu-item">
            <img src="assets/images/calendar.png" alt="Annual Plan Icon" class="menu-icon">
            <span class="menu-text">Annual Plan</span>
            <span class="menu-arrow">❯</span>
          </div>
        </li>
        <li>
          <div class="menu-item">
            <img src="assets/images/profile-2user.png" alt="Users Icon" class="menu-icon">
            <span class="menu-text">Users</span>
            <span class="menu-arrow">❯</span>
          </div>
        </li>
        <li>
          <div class="menu-item">
            <img src="assets/images/building.png" alt="Organisation Icon" class="menu-icon">
            <span class="menu-text">Organisation</span>
            <span class="menu-arrow">❯</span>
          </div>
        </li>
        <li>
          <div class="menu-item active">
            <img src="assets/images/setting-2.png" alt="Settings Icon" class="menu-icon">
            <span class="menu-text">Settings</span>
            <span class="menu-arrow">❯</span>
          </div>
        </li>
        <li>
          <div class="menu-item ">
            <img src="assets/images/global.png" alt="language Icon" class="menu-icon">
            <span class="menu-text">English</span>
            <span class="menu-arrow">❯</span>
          </div>
        </li>
        <li>
          <div class="menu-item">
            <img src="assets/images/Vector.png" alt="Help Icon" class="menu-icon">
            <span class="menu-text">Help</span>
            <span class="menu-arrow">❯</span>
          </div>
        </li>

      </ul>
    </nav>
    <button class="logout">Log out</button>
  </aside>

  <!-- Main Content -->
  <!-- <main> -->
    <div class="main">

    <header>
      <div>
        <h1>Subscription Plan</h1>
        <p>Manage your subscription plan</p>
      </div>

      <div class="user-info">
        <div>
          <img src="assets/images/picofme-9 1.png" alt="user" class="user-icon">
        </div>
        <div>
          <h2>Mohamed Salah</h2>
           <p>admin</p>
        </div>
        <div>
          <img src="assets/images/arrow-circle-right.png" alt="arrow">
        </div>

      </div>
    </header>
    <div class="content col-12">
     <router-outlet></router-outlet>
    </div>

  </div>
  <!-- </main> -->
</div>
