<div class="container-fluid">
  <!-- Sidebar -->
  <aside class="sidebar">
    <nav>
      <div class="d-flex">
        <div class="logo">
          <img src="assets/images/High_Resolution_Transparent_Logo Copy 4.png" alt="Scrub Valley">
        </div>
        <div class="arrow">
          <img src="assets/images/Arrow-Right.svg" alt="arrow">
        </div>
      </div>
      <ul>
        <li>
          <div class="menu-item">

            <img src="assets/images/category-2.svg" alt="Home Icon" class="menu-icon">
            <span class="menu-text">Home</span>
            <img src="assets/images/arrow-circle-right1.svg" alt="vector">
          </div>
        </li>
        <li>
          <div class="menu-item">
            <img src="assets/images/briefcase.svg" alt="Jobs Icon" class="menu-icon">
            <span class="menu-text">Jobs</span>
            <img src="assets/images/arrow-circle-right.svg" alt="vector">
          </div>
        </li>
        <li>
          <div class="menu-item">
            <img src="assets/images/search-normal.svg" alt="Candidates Icon" class="menu-icon">
            <span class="menu-text">Candidates</span>
            <img src="assets/images/arrow-circle-right1.svg" alt="vector">
          </div>
        </li>
        <li>
          <div class="menu-item">
            <img src="assets/images/video.svg" alt="Interviews Icon" class="menu-icon">
            <span class="menu-text">Interviews</span>
            <img src="assets/images/arrow-circle-right1.svg" alt="vector">
          </div>
        </li>
        <li>
          <div class="menu-item">
            <img src="assets/images/calendar.svg" alt="Annual Plan Icon" class="menu-icon">
            <span class="menu-text">Annual Plan</span>
            <img src="assets/images/arrow-circle-right1.svg" alt="vector">
          </div>
        </li>
        <li>
          <div class="menu-item">
            <img src="assets/images/profile-2user.svg" alt="Users Icon" class="menu-icon">
            <span class="menu-text">Users</span>
            <img src="assets/images/arrow-circle-right1.svg" alt="vector">
          </div>
        </li>
        <li>
          <div class="menu-item">
            <img src="assets/images/building.svg" alt="Organisation Icon" class="menu-icon">
            <span class="menu-text">Organisation</span>
            <img src="assets/images/arrow-circle-right1.svg" alt="vector">
          </div>
        </li>
        <div>
          <hr>
        </div>
        <li>
          <div class="menu-item active">
            <img src="assets/images/setting-2.svg" alt="Settings Icon" class="menu-icon">
            <span class="menu-text">Settings</span>
            <img src="assets/images/arrow-circle-right1.svg" alt="vector">
          </div>
        </li>
        <li>
          <div class="menu-item ">
            <img src="assets/images/global.svg" alt="language Icon" class="menu-icon">
            <span class="menu-text">English</span>
            <img src="assets/images/arrow-swap-horizontal.svg" alt="vector">
          </div>
        </li>
        <li>
          <div class="menu-item">
            <img src="assets/images/Search results for Help - Flaticon-12.svg" alt="Help Icon" class="menu-icon">
            <span class="menu-text">Help</span>
            <img src="assets/images/arrow-circle-right1.svg" alt="vector">
          </div>
        </li>

      </ul>
    </nav>
  </aside>

  <!-- Main Content -->
  <!-- <main> -->
    <div class="main">

    <header>
      <div>
        <h1>Subscription Plan</h1>
        <p>Manage your subscription plan</p>
      </div>

      <div class="user-info">
        <div class="name-role d-flex">
          <div>
            <img  src="assets/images/picofme-9 1.png" alt="user" class="user-icon">
          </div>
          <div >
            <h2>Mohamed Salah</h2>
             <p>Admin</p>
          </div>
          <div>
            <img src="assets/images/arrow-circle-right.svg" alt="arrow">
          </div>
        </div>
          <div class="notification">
            <img  src="assets/images/notification.svg" alt="notification">
          </div>
      </div>
    </header>
    <div class="content col-12">
     <router-outlet></router-outlet>
    </div>

  </div>
  <!-- </main> -->
</div>
